<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}" class="scroll-smooth">
{{- partial "head.html" . -}}

<body
    class="bg-gray-50 text-gray-900 font-sans text-[34px] antialiased dark:bg-gray-900 dark:text-gray-100 flex flex-col min-h-screen relative overflow-x-hidden selection:bg-accent-500 selection:text-white">

    <!-- Background Gradients Removed -->

    <div class="flex flex-col min-h-screen">
        {{- partial "header.html" . -}}
        <main class="flex-grow container mx-auto px-4 py-8 max-w-7xl">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </div>
</body>

</html>